---
export interface Props {
  gap?: string;
  align?: 'start' | 'stretch';
}
const { gap = 'var(--space-4)', align = 'start' } = Astro.props;
---
<div class="grid" style={`gap:${gap};--grid-align-items:${align};`}>
  <slot />
</div>
