---
---
<div class="site-progress-rail" aria-hidden="true" data-motion-progress>
  <div class="site-progress-rail__bar" data-motion-progress-bar></div>
</div>

<script>
  import initOsanMotion from '../scripts/osan-motion';

  initOsanMotion();
</script>
